@import "tailwindcss";
@import "@heroui/styles"; 

:root {
  --accent: #67AA28;
}

@theme {
  --color-primary: #67AA28;
  --color-secondary: #1D3D5A;
  --color-dark: #000;
  --color-light: #FFF;
  --font-sans: "Montserrat", sans-serif;
}